/* quote.component.css */

.quotes {
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .quotes h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Style the refresh button as outlined */
  .refresh-button {
    background-color: transparent; /* Transparent background */
    color: #FF6969; /* Button text color */
    border: 2px solid #FF6969; /* Outline border */
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Fill with color and add a subtle shadow on hover */
  .refresh-button:hover {
    background-color: #FF6969; /* Filled with color on hover */
    
    color: black; /* Text color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Add a diagonal push effect when the button is active (clicked) */
  .refresh-button:active {
    transform: translate(2px, -2px);
  }
  
  
  .quotes ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quotes li {
    font-size: 18px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .quote-content {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
  }
  
  .character-name {
    font-size: 16px;
    color: #777;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    width: 100%;
  }
  
  .quote-content::before {
    content: "“";
    font-size: 24px;
    margin-right: 5px;
  }
  
  .quote-content::after {
    content: "”";
    font-size: 24px;
    margin-left: 5px;
  }
  